<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="icon" type="image/x-icon" href="" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/antd@4.3.5/dist/antd.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.css" />
	<title><%= (htmlWebpackPlugin.options.title) %></title>
</head>

<body>
<script src="https://cdn.bootcss.com/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.20.1/locale/zh-cn.js"></script>
<script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/react-dom@16.13.1/umd/react-dom.production.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/react-router@5.2.0/umd/react-router.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/react-router-dom@5.2.0/umd/react-router-dom.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mobx@5.15.4/lib/mobx.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mobx-react@5.4.4/dist/mobx-react.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/antd@4.3.5/dist/antd.min.js"></script>
<script src="https://gw.alipayobjects.com/os/lib/bizcharts/3.5.8/umd/BizCharts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.min.js"></script>
<div id="root"></div>
</body>
</html>
